<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication System</title>
  </head>
  <body
    style="
      background-color: #130f40;
      color: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    "
  >
    <h1>Welcome to Authentication System</h1>
    <h4>For signing up Go to -> <a href="/signup">/signup</a></h4>
  </body>
</html>
